@page
@model AKT.Resume.UI.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<div class="text-center">
    <h2 class="display-6">Fox Valley Technical College</h2>
</div>
<hr />
<p>I am currently working towards a degree in IT - Software Development.</p>
<br /><br />

<div class="text-center">
    <h2 class="display-6">Kimberly High School</h2>
</div>
<hr />
<p>I graduated Kimberly High School in 2019.</p>
<br /><br />
