@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for viewing my resume, you can find my education and work history at the corresponding pages linked above.</p>
</div>
