@page
@model AKT.Resume.UI.Pages.WorkHistoryModel
@{
    ViewData["Title"] = "Work History";
}

<div class="text-center">
    <h2 class="display-6">Goodwill NCW: Current</h2>
</div>
<hr />
<p>At Goodwill I receive and sort donations, bring them to the sales floor once one of our donation value specialists has priced them, and cashier.</p>
<br /><br />

<div class="text-center">
    <h2 class="display-6">Kimberly Public Library: Dec 2019 - Jan 2020</h2>
</div>
<hr />
<p>I worked at the Kimberly Public Library sorting and putting away the books and other media on offer.
   I also processed new material by adding labels, rfid tags, clear protectors/reinforcements to paperback books, and adding the material to the inventory system.
   This was a planned six week work experience arranged through services provided by the Wisconsin Department of Vocational Rehabilitation.</p>
<br /><br />

<div class="text-center">
    <h2 class="display-6">Menasha Corporation: May 2019 - Aug 2019</h2>
</div>
<hr />
<p>I worked at Menasha as an assistant to the design team.
   I used CAD software to make shipping boxes for display samples to be sent to customers.
   I used the computer controlled cutting and scoring table to cut out the samples designed by the design team and the boxes designed by myself.
   I assembled those samples and boxes I had cut, and shipped them using UPS software.
   This was a planned temporary summer job offered to college students who have a parent working at Menasha.</p>
<br /><br />

<div class="text-center">
    <h2 class="display-6">Piggly Wiggly: Mar 2019 - Apr 2019</h2>
</div>
<hr />
<p>I worked at Piggly Wiggly as a bagger and I also was responsible for bringing in carts from the corrals.
   This was a part-time job I found with services I was provided through the Wisconsin Department of Vocational Rehabilitation.
   I left for the summer job at Menasha, because it was an incredible opportunity.
</p>
<br /><br />
